force-app/main/default/flows/Test_Account_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Account_Name</name>
        <label>Account Name</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>thisAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Names</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Account</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thisAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>checkResultList</name>
        <label>checkResultList</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>InsertedRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_Accounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetupSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssertRowCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorResult</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetSuccessResult</name>
        <label>SetSuccessResult</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Setup_Accounts</name>
        <label>Setup Accounts</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Names</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AssertRowCount</name>
        <label>AssertRowCount</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InsertedRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SetupSize</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InsertedRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SetupSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSuccessResult</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <formulas>
        <name>ErrorResult</name>
        <dataType>String</dataType>
        <expression>&apos;Error - Inserted &apos; + TEXT({!InsertedRecords}) + &apos; account records. Expected &apos; + TEXT({!SetupSize})</expression>
    </formulas>
    <interviewLabel>Test Account Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Test Account Insert</label>
    <loops>
        <name>Loop_Names</name>
        <label>Loop Names</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Name</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Account_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Accounts</name>
        <label>Insert Accounts</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>get_Accounts</targetReference>
        </connector>
        <inputReference>Account</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Accounts</name>
        <label>get Accounts</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkResultList</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Setup_Accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>InsertedRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SetupSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>thisAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
