src/flows/TestOppSize_Amount1000_Medium.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Opportunity</name>
        <label>Assign Opportunity</label>
        <locationX>206</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2019-10-18</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FlowOpp600</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Opportunity_Size__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>CreateOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetErrorMessage</name>
        <label>SetErrorMessage</label>
        <locationX>909</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity Size should be Medium</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>IsOppSize_Small</name>
        <label>IsOppSize-Medium</label>
        <locationX>700</locationX>
        <locationY>35</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TestFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Opportunity_Size__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetErrorMessage</targetReference>
            </connector>
            <label>TestFail</label>
        </rules>
    </decisions>
    <description>Testing that when Amount is 1000, the Opportunity Size field should be set to &quot;Medium&quot;</description>
    <interviewLabel>TestOppSize-Amount1000-Medium {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestOppSize-Amount1000-Medium</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateOpp</name>
        <label>CreateOpp</label>
        <locationX>368</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>GetOppSizeValue</targetReference>
        </connector>
        <inputReference>Opportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Getting the current value in the Opportunity Size field</description>
        <name>GetOppSizeValue</name>
        <label>GetOppSizeValue</label>
        <locationX>520</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsOppSize_Small</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity_Size__c</queriedFields>
    </recordLookups>
    <startElementReference>Assign_Opportunity</startElementReference>
    <status>Draft</status>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Success</stringValue>
        </value>
    </variables>
</Flow>
