src/flows/Test_Flow_Account_Update_Process_Builder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Result</name>
        <label>Assign Result</label>
        <locationX>804</locationX>
        <locationY>67</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resultFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debug</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.HomePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>1139</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;We failed&apos;</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Success</name>
        <label>Success</label>
        <locationX>981</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Test_Decision</name>
        <label>Test Decision</label>
        <locationX>981</locationX>
        <locationY>74</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_Number_not_equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.HomePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>555-123-4567</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failure</targetReference>
            </connector>
            <label>Phone Number not equal</label>
        </rules>
    </decisions>
    <description>Test flow for PB - Account: Update Phone Number</description>
    <formulas>
        <name>resultFormula</name>
        <dataType>String</dataType>
        <expression>IF{{!Contact.HomePhone}= &quot;555-123-4567&quot;, &quot;Success&quot;, &quot;Error: The Contact&apos;s home phone number is not equal to the Account phone number.&quot;)</expression>
    </formulas>
    <interviewLabel>Test Flow - Account Update Process Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Flow - Account Update Process Builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>177</locationX>
        <locationY>59</locationY>
        <assignRecordIdToReference>Account.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Test Account</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>316</locationX>
        <locationY>62</locationY>
        <assignRecordIdToReference>Contact_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Account_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>Testerson</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Contact_for_Update</name>
        <label>Lookup Contact for Update</label>
        <locationX>639</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Result</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HomePhone</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Phone</name>
        <label>Update Account Phone</label>
        <locationX>476</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Lookup_Contact_for_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <stringValue>555-123-4567</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>debug</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
